@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
font-family: 'Averia Serif Libre', cursive;
 line-height: 1.4;
	font-size: 1.2em;
}

form {
	margin-left: 35%;
	margin-top:5%;
}

h1 {
	margin-top: 3%;
	margin-left: 40%;
}

button {
	background-color: #041cb3;
	color:aliceblue;
	margin-left: 15px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 8px;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 1em;
}

ul {
  list-style: none;
  margin-bottom: 30px;
	margin-top: 15px;
}

li {
	padding: 10px;

}

input[type=text] {
  border-radius: 2px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 5px;
  border: 2px solid #041cb3;
}

input[type=checkbox] { 
            margin-left: 10px; 
        } 
